.favorite-btn {
  background: none;
  border: none;
  font-size: 31px;
  line-height: 1;
  position: absolute;
  top: -12px;
  cursor: pointer;
  opacity: 0.2;
  .card--favorite & {
    opacity: 1;
  }
}
