.search-input {
  position: relative;
}

.search-input__input {
  width: 100%;
  padding-left: 15px;
  padding-right: 40px;
  height: 45px;
  line-height: 45px;
  border: none;
  border-radius: 50px;
}

.search-input__btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 45px;
  padding: 0;
  border: none;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
}

.search-input__icon {
  width: 20px;
  height: 20px;
  position: relative;
  display: block;
  line-height: 45px;
  &:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 2px;
    background-color: rgba(#000, 0.4);
    top: 12px;
    left: 0;
    transform: rotate(-45deg);
  }
  &:before {
    content: "";
    width: 10px;
    height: 10px;
    border: 2px solid rgba(#000, 0.4);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 3px;
  }
}
