@import "components/typography";
@import "components/buttons";
@import "components/card";
@import "components/forms";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  // background-image: url(https://source.unsplash.com/random);
  background-image: url(https://images.unsplash.com/photo-1550655140-2125ba9558ea?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&ixid=eyJhcHBfaWQiOjF9);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  color: #555;
}

.row {
  display: flex;
  align-items: center;
  & + & {
    margin-top: 10px;
  }
}

.row__name {
  font-size: 12px;
  min-width: 80px;
}

.row__value {
  font-size: 16px;
}

.forecast {
  display: flex;
  border-top: 1px solid rgba(#000, 0.1);
  border-bottom: 1px solid rgba(#000, 0.1);
  margin: 0 -15px;
  justify-content: center;
}

.forecast__item {
  padding: 15px 10px;
  text-align: center;
  flex: 1;
  & + & {
    border-left: 1px solid rgba(#000, 0.1);
  }
}

.forecast__date {
  font-size: 12px;
  margin-bottom: 10px;
}

.forecast__temp {
  font-size: 21px;
  margin-bottom: 5px;
}

.forecast__icon {
  font-size: 25px;
}

.list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-left: 0;
  flex-wrap: wrap;
}

.list__item {
  display: inline-block;
  margin: 5px;
  background: #0e0e0e1a;
  padding: 3px;
  cursor: pointer;
}
